# extensions to ignore
*.rds
*.xlsx
*.csv
*.rds
*.xlsx
.Rproj.user/
.RData
.Rhistory

~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
.gitignore[+] [unix] (01:57 22/03/2025)                                                                     5,1 All
-- INSERT --

